:root {
    --primary-color: #191c24;
    --secondary-color: #1d2228;
    --white: #fff;
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.text-white {
    color: var(--white);
}

body {
    background-color: var(--secondary-color);
    padding-bottom: 10rem;
}