:root {
    --primary-color: #191C24;
    --secondary-color: #000000;
    --white: #fff;
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.text-white {
    color: var(--white);
}

body {
    background-color: var(--secondary-color);
}